{% extends 'base.html' %}

{% block content %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'core:main' %}">Repos</a>
        <a class="navbar-brand" href="{% url 'core:categories' %}">Categories</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'core:logout' %}?next={% url 'core:login' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
  <div class="container text-center">
    <h1>Categories</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="{{ form.name.html_name }}">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      <button type="submit" class="btn btn-success">+Add new</button>
    </form>
  </div>
  </div>
{% for category in object_list %}
  <div style="margin: 15px">
    <a href="{% url 'core:category' pk=category.pk %}"><h3>{{ category.name }}</h3></a>
  </div>
{% endfor %}
{% endblock %}